{% extends "base.html" %}
{% block content %}
    <div class="index">

        <div class="landing">

        </div>
    <div class="container">
        <div class="about">

            <div class="about-1">
                <div class="about-1-content">
                    <h1>ABOUT US</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae
                        natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam
                        deleniti eos cupiditate dolore doloribus!</p>
                </div>
                <div class="about-1-img"></div>
            </div>

            <div class="about-2">
                <div class="about-2-img"></div>
                <div class="about-2-content">
                    <h1>What We Offer</h1>
                    <div class="about-2-icons">
                        <div class="about-2-icon-box">
                            <h6>Turn Around Time</h6>
                            <div class="about-2-icon"></div>
                        </div>
                        <div class="about-2-icon-box">
                            <h6>Time Stamps</h6>
                            <div class="about-2-icon"></div>
                        </div>
                        <div class="about-2-icon-box">
                            <h6>Accents</h6>
                            <div class="about-2-icon"></div>
                        </div>
                        <div class="about-2-icon-box">
                            <h6>Formatting</h6>
                            <div class="about-2-icon"></div>
                        </div>
                        <div class="about-2-icon-box">
                            <h6>File Types</h6>
                            <div class="about-2-icon"></div>
                        </div>
                        <div class="about-2-icon-box">
                            <h6>Rates</h6>
                            <div class="about-2-icon"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="services">
            <div class="services-box">
                <div class="services-title">
                    <h4>Audio and Video Transcription Services</h4>
                </div>
                <div class="services-content">
                    <div id="services-icon-1"></div>
                    <a class="services-btn" href="#">Transcribe >></a>
                </div>
            </div>

            <div class="services-box">
                <div class="services-title">
                    <h4>Custom Transcription Services</h4>
                </div>
                <div class="services-content">
                    <div id="services-icon-2"></div>
                    <a class="services-btn" href="#">Transcribe >></a>
                </div>
            </div>

            <div class="services-box">
                <div class="services-title">
                    <h4>Student Discount</h4>
                </div>
                <div class="services-content">
                    <div id="services-icon-3"></div>
                    <a class="services-btn" href="#">Transcribe >></a>
                </div>
            </div>
        </div>

        <div class="quote">
            <div class="quote-box">
                <div class="quote-title">
                    <h4>Want an instant Quote?</h4>
                </div>
                <div class="quote-content">
                    <div id="quote-icon-1"></div>
                    <a class="quote-btn" href="#">Get A Quote</a>
                </div>
            </div>

            <div class="quote-box">
                <div class="quote-title">
                    <h4>Want an custom Quote?</h4>
                </div>
                <div class="quote-content">
                    <div id="quote-icon-2"></div>
                    <a class="quote-btn" href="#">Get A Quote</a>
                </div>
            </div>

        </div>

        <div class="process">

            <div class="process-boxs">
                <div class="process-box-1">
                    <div id="process-icon-1"></div>
                    <h4>Discuss</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-1">1</div>
                </div>
            </div>

            <div class="process-boxs">
                <div class="process-box-1">
                    <div id="process-icon-2"></div>
                    <h4>Upload</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-2">2</div>
                </div>
            </div>

            <div class="process-boxs">
                <div class="process-box-1">
                    <div id="process-icon-3"></div>
                    <h4>Wait</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-3">3</div>
                </div>
            </div>

            <div class="process-boxs">
                <div class="process-box-1">
                    <div id="process-icon-4"></div>
                    <h4>Pick Up</h4>
                </div>
                <div class="process-box-2">
                    <div id="process-num-4">4</div>
                </div>
            </div>

        </div>

        <div class="process-info">
            <div class="process-info-header">
                <h2>Let Us Know What You Need</h2>
            </div>
            <div class="process-info-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae
                    natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam
                    deleniti eos cupiditate dolore doloribus!</p>
            </div>
        </div>

        <div class="testimonials">
                <div class="row">
                    <div class='col-md-offset-2 col-md-8 text-center'>
                        <h2>Testimonials</h2>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-offset-2 col-md-8'>
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#quote-carousel" data-slide-to="1"></li>
                                <li data-target="#quote-carousel" data-slide-to="2"></li>
                            </ol>


                            <div class="carousel-inner">


                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                                    consectetur, adipisci velit!</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>

                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor
                                                    nec lacus ut tempor. Mauris.</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>

                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum
                                                    elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies
                                                    commodo tortor, eu pretium mauris.</p>
                                                <small>Someone famous</small>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>


                            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i
                                    class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i
                                    class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
{% endblock %}